@import '~antd/dist/antd.css';

/* .App {
  font-family: sans-serif;
  text-align: center;
} */

:root {
  --bg-primary: #739ddb;
  --bg-primary-light: #a6ceff;
  --bg-primary-dark: #406fa9;

  --bg-secondary: #c673db;
  --bg-secondary-light: #faa4ff;
  --bg-secondary-dark: #9344a9;
}

.w-full{
  width: 100%;
}

.h-full {
  height: 100%;
}

.bg-primary { 
  background: #739ddb; 
}
.bg-primary-light { 
  background: #a6ceff; 
}
.bg-primary-dark { 
  background: #406fa9; 
}

.bg-secondary{
  background: #c673db;
}
.bg-secondary-light{
  background: #faa4ff;
}
.bg-secondary-dark{
  background: #9344a9;
}

.ant-card-head {
  background: var(--bg-secondary-dark);
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
  color: white;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  /* background: #fff; */
}

.site-layout {
  background:  var(--bg-primary);
  width: 100vw;
  height: 100vh;
} 

.ant-layout-content {
  background: var(--bg-primary);
}

.ant-layout-header {
  background: var(--bg-primary-dark);
  display: flex;
}

.ant-card-head-title {
  color: white;
  font-weight: bold;
}
.ant-layout-footer {
  background: var(--bg-primary-light);
}

.btn-fix {
  color: white;
  font-weight: bold;
}

.btn-fix:hover {
  color: #40a9ff;
}